.analytics {
  margin-left: 2rem;
}

.analytics__pie {
  width: 100%;
  height: 26rem;
}

.analytics__bar {
  width: 100%;
  height: 29rem;
}

.analytics__calendar {
  width: 100%;
  height: 20rem;
}

.analytics__calendar__legends {
  margin: 5rem 0 0 3rem;
  table-layout: fixed;
}

.analytics__table__column--center {
  text-align: center;
}

.analytics__table__column--right {
  text-align: right;
}

.analytics__table__sub-component {
  padding: 0 0 0 2rem;
}

.analytics__table__sub-component__bar {
  width: 100%;
  height: 10rem;
}