.blacklist {
  width: 45%;
  margin: 0 auto;
  text-align: center;
}

.blacklist--full {
  width: 100%;
  margin: 0 auto;
  text-align: center; 
}

.blacklist-recommendations__icons {
  font-size: 40px;
}

/* Logo icon colors */
.fb-color { 
  color: #2759AE;
}

.twitter-color {
  color: #00aced;
}

.ig-color {
  color: #cd486b;
}

.yt-color {
  color: #ff0000;
}

.pinterest-color {
  color: #cb2027;
}

.tumblr-color {
  color: #35465c;
}

.reddit-color {
  color: #ff4500;
}

.twitch-color {
  color: #6441a5;
}