.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.login__panel {
  display: flex;
  width: 40%;
  padding: 3rem 7rem 4rem 7rem;
  text-align: center;
}

.login-panel__header {
  margin-bottom: 3rem;
}

.login-panel-header__logo {
  width: 50%;
  margin: 2rem auto;
}