.settings {
  margin: 0 auto;
  width: 60%;
}

.settings--full {
  margin: 0 auto;
  width: 100%;
}

.settings__title {
  color: #FFB300;
  font-size: 30px;
}

.settings-category__title {
  font-weight: bold;
  background-color: #F5F5F5;
  font-size: 23px;
  padding: 10px;
}

.settings-category__subtitle {
  padding: 0 0 10px 10px;
  margin-bottom: 0;
}

.settings-category__description {
  padding: 0 0 10px 10px;
}

.settings-category__set {
  padding: 0 0 10px 10px;
  display: flex;
  width: 40%;
}

.blacklist-active-days__checkbox {
  margin: 0 2em 0 0;
}