.stepper {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
}

.stepper__title {
  color: black;
}

.stepper__title--center {
  color: black;
  width: 100%;
  text-align: center;
}

.stepper__span--strong-em {
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}

.stepper__span--focus {
  color: #FFB300;
  font-size: 17px;
  font-weight: bold;
}

.stepper__span--positive {
  color: #00E676;
  font-size: 17px;
  font-weight: bold;
}

.stepper__span--negative {
  color: #FF1744;
  font-size: 17px;
  font-weight: bold;
}

.stepper__content {
  padding-top: 35px;
}

.stepper-content__features div {
  margin: 0 0 50px 0;
}

.stepper__label:not([disabled]) svg {
  fill: #FFB300 !important;
}