.stepper_01 {
  justify-content: center;
  grid-column: 2/21;
  grid-row: 3/11;
  /* border-top: solid 3px #546B30; */
}
.step-label:not([disabled]) svg{ /* change stepper color */
  fill: #FFB300 !important;
}

.stepper-raised-button span{ /* change text color of stepper 'Next' button */
  color: white !important;
}

.stepper-blacklist-text {
  /*background-color: black !important;*/
  /*color: white !important;*/
  /*color: #FFB300 !important;*/
  text-transform: uppercase !important;
  font-weight: bold !important;
  font-style: oblique !important;
  /*text-shadow:*/
          /*-1px -1px 0 #000,*/
          /*1px -1px 0 #000,*/
          /*-1px 1px 0 #000,*/
          /*1px 1px 0 #000 !important;*/
  /*word-spacing: 2px !important;*/
  /*letter-spacing: 2px !important;*/
  /*font-size: 20px !important;*/
}

.stepper-line-height {
  line-height: 1.5;
}

.blacklist-textfield { /*this targets the input text field of the blacklist component*/
  width: 60% !important;
}

div.stepper-blacklist-outer table.tableNoHighlight{ /*only targets blacklist inside the stepper */
  width: 100% !important;
}

div.stepper-blacklist-outer div.myBlacklist {
  width: 100% !important;
}

div.stepper-blacklist-outer div.recommendedSites {
  width: 100% !important;
}

div.stepper-blacklist-outer .blacklist-textfield {
  width: 100% !important;
}

div.stepper-settings-outer div.settings-main-div {
  width: 100% !important;
}

.stepper-h1 {
  color: black !important;
}