.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login */
.loginPanel {
  width: 40%;
  margin: 5rem auto;
  padding: 3rem 7rem 5rem 7rem;
}

.loginHeader {
  margin-bottom: 4rem;
}

#loginLogo {
  width: 50%;
}

/* Analytics */
#analyticsPie {
  width: 100%;
  height: 30rem;
}

#analyticsBar {
  width: 100%;
  height: 30rem;
}

#analyticsCalendar {
  width: 100%;
  height: 30rem;
}


/* BLACKLIST */
.blacklist-flat-button span{ /* edit style of 'Remove' button */
  color: #D32F2F !important;
  font-weight: bold !important;
}

.myBlacklist {
  width: 80% !important;
  text-align: center !important;
  margin: auto !important;
}

.myBlacklistTextSpan {
  padding-left: 210px !important;
  display:block !important;
  text-align:left !important;
}

.iconTrashButtonStyle {
  color: #D32F2F !important;
}

.recommendedTextSpan {
  padding-left: 210px !important;
  font-size: 15px !important;
}

.iconAddButtonStyle {
  color: #263238 !important;
}

.recommendedSites {
  width: 80% !important;
  margin: auto !important;
}

.myBlacklist h1{
  /*position: relative;*/
  color: black !important;
  font-size: 20px !important;
}

.recommendedSites h1{
  /*position: relative;*/
  color: black !important;
  font-size: 20px !important;
}

.recommendedTableHeader {
  text-align: center !important;
}

.tableNoHighlight th{ /*this removes padding from table header*/
  /*padding: 0 !important;*/
  padding: 0 0 0 10px !important;
  height: 45px !important;
}

.tableNoHighlight td{
  background-color: transparent !important;
  padding: 0 0 0 10px !important;
  height: 50px !important;
  font-size: 15px !important;
}

.table-header th{ /*this edits the table headers for recommended sites */
  color: #263238 !important;
  font-size: 18px !important;
  font-weight: bold !important;
  background-color: #F5F5F5 !important;
}

.icons i { /*change size of icons*/
  font-size: 40px !important;
}

.fbColor{ /*Setting different colors for icons*/
  color: #2759AE !important;
}

.twitterColor {
  color: #00aced !important;
}

.igColor {
  color: #cd486b !important;
}

.ytColor {
  color: #ff0000 !important;
}

.pinterestColor {
 color: #cb2027 !important;
}

.tumblrColor {
 color: #35465c !important;
}

.redditColor {
  color: #ff4500 !important;
}

.twitchColor {
  color: #6441a5 !important;
}

.s:before { /* HERE IS WHERE YOU SET DIFFERENT TH TEXT FOR DIFFERENT CATEGORIES */
  content: "Recommended Social Media Sites" !important;
}

.n:before {
  content: "Recommended Entertainment Sites" !important;
}
